html {
    background: linear-gradient(177.52deg, #49b675 2.11%, #54ab77 81.34%);
    background-repeat: no-repeat;
    height: 100%;
}

body {
    font-family: "Courier New", "Comic Sans";
    font-weight: 700;
}

h2, footer {
    font-family: "Courier New", "Comic Sans";
    font-weight: 700;
}

button {
    border: none;
}

.itens-comprados {
    text-decoration: line-through;
}

.borda-lista {
    border-bottom: dotted 2px blue;
}

input:disabled {
    border: none;
    background: none;
    color: black;
}

input {
    border: none;
    background: none;
    color: black;
}

